<template>
    <div>
        <!--  Comunicación entre padre hacia el hijo:  :display="display" -->
       <calculator-display 
       :display="display"/>
       <!-- Comunicación entre hijo hacia el padre @update:display="setDisplay" -->
       <!-- Comunicación en ambos lados v-model:currentKey="currentKey"  -->
       <calculator-buttons 
       @update:display="setDisplay" 
       v-model:currentKey="currentKey"/>
    </div>
</template>

<script>
import CalculatorDisplay from "./CalculatorDisplay.vue"
import CalculatorButtons from "./CalculatorButtons.vue"
export default {
    name: "Calculator",
    components:{
        CalculatorDisplay,
        CalculatorButtons
    },
    data(){return{
        display: 0,
        currentKey: null
    }},
    methods:{
        setDisplay(newValue){
            this.display = newValue
        }
    },
    created(){

    },
    mounted() {
        window.addEventListener("keypress",e =>{
            this.currentKey = e.key
        })
    },
}
</script>

<style>

</style>