<template>
    <label class="button" :class="[type]">
        <input
            type="button"
            class="content"
            :value="keyCode"
            @click="doAction"
            >
    </label>
</template>

<script>
export default {
    name: "CalculatorButton",
    props: {
        text: {},
        keyCode: {},
        type:{
            default: 'operator'
        },
        modelValue:{

        }
    },
    emits:{
        pressed: {},
        'update:modelValue':{

        }
    },
    computed:{
        input:{
            get(){
                return this.modelValue
            },
            set(newValue){
                 this.$emit("update:modelValue", newValue)
            }
        }
    },
    methods:{
        showValue:function(){
            console.log(this.keyCode)
        },
        doAction:function(){
            this.input = this.keyCode
        }
    },
    watch:{
        modelValue(val){
            if (val === this.keyCode){
                console.log(val)
                this.$emit("pressed",val)
            }
        }
    }
}
</script>

<style lang="css">
    .button {
        align-items: center;
        background: #000000;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        font-size: 45px;
        height: 110px;
        justify-content: center;
        transition: filter .3s;
        width: 110px;
    }

    .content {
        font-size: 45px;
        cursor: pointer;
        background: transparent;
        border: 0;
        transition: filter .3s;
    }
    
    .button.function {
         color: black;
         background: #a5a5a5;
    }

    .function > .content {
        background: #a5a5a5;
    }

    .button .number {
        background: #292929;
        color: #a5a5a5;
    }

    .number > .content {
        color: #a5a5a5;
    }

    .button.expand {
        border-radius: 55px;
        grid-column: 1 / span 2;
        justify-content: flex-start;
        padding-left: 43px;
        width: 250px;
    }

    .expand > .content {
        color: #a5a5a5;
    }

    .button.operator {
        background: #f1a33c;
    }

    .button:active,
    .button:focus {
        filter: brightness(120%);
    }

</style>