<template>
  <div class="display">{{ display }}</div>
</template>

<script>
export default {
  name: "CalculatorDisplay",
  props: {
    display: {},
  },
};
</script>

<style lang="css">
.display {
  font-size: 130px;
  font-weight: 300;
  height: 158px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: right;
}
</style>